@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

/* Configuração do fundo de vídeo */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
    z-index: 1;
}

h2 {
    font-size: 2em;
    color: #ffffff;
    margin: 15px 0;
}

.gif {
    width: 100%;
    max-width: 300px;
}

.btn-group {
    margin-top: 50px;
    position: relative;
    height: 40px;
}

button {
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border: 2px solid #d400ff;
}

button.yes-btn {
    background: #d400ff;
}

button.no-btn {
    background: white;
    color: #d400ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
